/* Variables */

:root {
  --basic-black: #000000;

  --basic-dark-gray: #21222A;
  --basic-gray: #282D35;
  --basic-light-gray: #DEEBF8;

  --basic-light-blue: #61DAFB;

  --basic-white: #FFFFFF;
}


/* Global */

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-light-gray);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 550px;
  height: 550px;
  background-color: var(--basic-gray);
  border-radius: 10px;
  margin-top: 100px;
  overflow: hidden
}

/* Grid */

.page-body {
  display: grid;
  place-items: center;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 8px;
}

/* Nav */

.nav {
  padding: 30px;
  min-height: 91px;
  color: var(--basic-light-gray);
  background-color: var(--basic-dark-gray);
  box-sizing: border-box;
}

.logo-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #61DAFB;
}

.nav-theme {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

/* Main Content */

.main {
  padding: 0 27px;
}

.main-title {
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.main-list {
  width: 390px;
  margin: 0;
  padding: 0;
  padding-left: 45px;
}

.list-item {
  margin-bottom: 20px;
}

.list-item::marker {
  color: var(--basic-light-blue);
  font-size: 10;
}